calc_I_notes.pdf filter=lfs diff=lfs merge=lfs -text
calc_Textbook.pdf filter=lfs diff=lfs merge=lfs -text
laquiz4.pdf filter=lfs diff=lfs merge=lfs -text
Linear[[:space:]]Algebra.pdf filter=lfs diff=lfs merge=lfs -text
